extends layout

block content
  include includes/navbar

  section(style='padding:50px;')
    h1 Tus Ethers
    .card.shadow-sm.p-3.mb-5.bg-body.rounded
      .card-body.p-1
        p=balance

    h1 Tus Smart contracs
    .card.shadow-sm.p-3.mb-5.bg-body.rounded
      .card-body.p-1
        p Test
