extends layouts/loginLayout

include mixins/form

block form
  // Sign-up
  #pills-sign-up.tab-pane.fade.show(role='tabpanel' aria-labelledby="pills-sign-up")
    +form()
      h3.mb-5 Crea tu cuenta!
      .form-outline.mb-4
        input#sign-up-username.form-control.form-control-lg(type='text' name='username')
        label.form-label(for='sign-up-username') Nombre de usuario
      .form-outline.mb-4
        input#sign-up-email.form-control.form-control-lg(type='email' name='email')
        label.form-label(for='sign-up-email') Correo electrónico
      .form-outline.mb-4
        input#sign-up-password.form-control.form-control-lg(type='password' name='password')
        label.form-label(for='typePasswordX-2') Contraseña
      .d-grid.gap-2
        button.btn.btn-primary.btn-lg(type='submit') Crear mi cuenta
